* {
    box-sizing: border-box;
}

h1 {
    font-size: 56px;
    font-weight: 600;
}

body{
    margin: 0;
    background-color: #FFFC00;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    background-color: #FFFC00;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    position: fixed;
    padding-top: 4px;
    top: 0;
}

/* Header Left */
.header-left {
    padding-top: 24px;
    width: 256px;
    height: 48px;
    display: flex;
    gap: 12px;
    align-items: center;
    margin-left: 16px;
}

.header-left input {
    height: 36px;
    max-height: 48px;
    border-radius: 20px;
    border: 1px solid;
    background-color: #FFFC00;
    text-decoration: grey;
    padding: 0px 12px 0 40px;
}

#logo {
    padding-top: 4px;
    width:36px;
}

.search-icon {
    font-size: 18px;
    position: absolute;
    top: 31px;
    left: 76px;
}



/* Header Center */
.header-center {
    display: flex;
    gap: 4px;
}

.header-center a {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 64px;
    width: 64px;
    border-radius: 8px;
}

.header-center a:hover {
    background-color: hsl(59, 100%, 40%);
    transition: ease-in-out;
    transition-duration: 500ms;
}

.header-center svg {
    height: 24px;
    margin-top: 12px;
}

.header-center h5 {
    position: absolute;
    top: 28px;
    font-size: 12px;
    font-weight: 600;
}

.tag-sm {
    z-index: 100;
    position: relative;
    left: 12px;
    bottom: 36px;
    max-height: 16px;
    float: left;
    font-size: 8px;
    color: white;
    border-radius: 4px;
    background-color:#0fadff;
    padding: 2px 4px;
}

/* Header Right */
.header-right {
    width: 256px;
    height: 48px;
    align-self: center;
    display: flex;
    gap: 12px;
    margin-right: 16px;
}

.icon-btn {
    width: 40px;
    height: 40px;
    padding: 12px;
    background-color: white;
    border-radius: 50%;
}

.primary-btn {
    color: white;
    background: #000;
    height: 36px;
    padding: 0 12px;
    border: none;
    border-radius: 50px;
}

main {
    padding-top: 128px;
    display: flex;
    margin: 0px 120px;
}

.section-left {
    width: 50%;
    padding-bottom: 80px;
}

.section-left p {
    font-size: 24px;
}

.tag {
    float: left;
    font-size: x-small;
    margin: 4px 6px 0 0;
    color: white;
    border-radius: 4px;
    background-color: #0fadff;
    padding: 4px;
}

.primary-btn-icon {
    background-color: #000;
    display: flex;
    width: fit-content;
    height: 24px;
    align-items: center;
    color: white;
    padding: 24px 40px;
    border-radius: 24px;
}

.primary-btn-icon svg {
    height: 20px;
    fill: white;
}

.primary-btn-icon h4 {
    padding-left: 12px;
    font-weight: 500;
}

.section-right {
    width: 50%;
}

.section-right img {
    width: 45vw;
}

.banner {
    position: fixed;
    bottom: 0;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: white;
}

.banner h5 {
    margin: 0 8px;
}

.banner span {
    color: #FFFC00;
}

.banner span a {
    text-decoration: none;
    color: #FFFC00;
}

.banner svg {
    height: 16px;
    fill: #FFFC00;
}

.footer-section {
    display: flex;
    padding: 0px 80px;
    background-color: #f7f8f9;
}

.footer-section div {
padding-right: 40px;
min-width: 200px;
}

.footer-section div p {
    font-size: small;
    line-height: 8px;
}
.footer-section h5 {
    line-height: 0px;
}

.footer-section select {
background-color: white;
border: 1px solid rgb(165, 165, 165);
border-radius: 4px;
padding: 4px;
width: 200px;
color: grey;
}

.footer-bottom-bar {
    background-color: #121314;
    color: #f7f8f9;
    padding-bottom: 64px;
    display: flex;
    justify-content: left;
}

.footer-bottom-bar a {
    text-decoration: none;
    color: #f7f8f9;
    font-size: 16px;
    padding: 16px 0px 16px 48px;
}