body{
    margin: 0;
    background-color: #FFFC00;
}

header {
    display: flex;
    flex-direction: column;
}


#logo {
    width:48px;
}

.search-icon {
    width: 36px;
}

.icon-btn {
    width: 32px;
}

.nav-icon {
    width: 24px;
}